.header-img {
    margin-left: 640px;
    margin-bottom: 100px;
    position: relative;
   animation: ease-in-out alternate-reverse infinite;
    background-color: darkorange;
}
#header-img {
  
    height: 300px;
    width: 100%;

}
@keyframes up-down {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
.card{
    display: flex;
}

    
*{
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    justify-content: center;
    
}
.navbar-nav:hover {
    color: rgb(212, 16, 42);
}
.card{
    background-color: burlywood;
    font-weight: bolder;
}
.card-title{
    color: coral;
    font-weight: bolder;
}
.card-body{
    background-color: cyan;
}